*{
  margin: 0;
  padding: 0;
}
nav{
  width:100%;
  height: 75px;
  line-height: 75px;
  padding: 0px 0px;
  position: top;
  background-image: linear-gradient(#4b2eb4,#1ea7d1);
}
nav  .logo{
  float:left;
  cursor: pointer;  
  
}
nav ul{
  float: right;
}
nav li{
  display: inline-block;
  list-style:none;
}
nav li a{
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 30px;
  color: white;
  text-decoration: none;
  transition:  all 0.4s ease 0s;
}
nav li a:hover{
  color: #ff8c69;
}

body{
  background-size: 100%;
}
div.main{
  width:100%;
  margin: 0px auto 0px auto;
}
div.category li{
  text-decoration: none;
  display: inline-block;
}
div.category li a{
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 30px;
  list-style:none;
  transition:  all 0.4s ease 0s;
}
div.category a:link, a:visited {
  background-color: #2974d5;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

div.category a:hover, a:active {
  background-color: rgb(85, 155, 205);
}
div.cookies{
  width:100%;
  padding-top: 100px;
  text-align: center;
  
}
div.localStorage{
  width:100%;
  padding-top: 100px;
  text-align: center;
}

div.sessionStorage{
  width:100%;
  padding-top: 100px;
  text-align: center;
}

input{
 padding: 7px;
 height: 40px;
 width: 200px;
}
.button {
  background-color: #e7e7e7; 
  color: black;
  border: 2px solid #2d2f2d; 
  font-size: 15px;
  padding: 14px 40px;
  border-radius: 3px;
}

div.slider{
  background: url("background.png");
  width: 100%;
}
div.slider.img{
  position: top;
}
div.content1{
  width:100%;
}
div.audio{
  padding: 100px 610px;
  width:100%;
  position: top;
}
div.text1{
  width:100%;
  position: top;
}

