<style>
    td{
        text-align: center;
        cursor: pointer;
        filter: blur(5px);   
    }
    td:hover{
        filter: blur(0);
    }
    div.search{
        padding-left: 150px;
    }
    input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(63, 157, 223);
  border-radius: 4px;
}
    </style>
<div class="search">
    <label for="search" style="font-family: Georgia, serif; font-size:large">Cars</label><br>
    <input type="text" id="serach_box" ng-model="searched" placeholder="honda/volvo/skoda"></div>
    
<table width="600px" height="100px" >
    <tr>
        <th><p>{{msg}}</p></th>
    </tr>
    <tr>
        <th>Questions</th>
        <th>Answers</th>
    </tr>
    <tr ng-repeat="car in cardata | filter:searched:comparator:car.question">
        <th>{{ car.question }}</th>
        <td>{{car.answer}}</td><br /><br />
    </tr>

</table>