<style>
    td{
        text-align: center;
        cursor: pointer;
        filter: blur(5px);   
    }
    td:hover{
        filter: blur(0);
    }
    </style>
<table width="500px">
    <tr>
        <th>In which year did Henry Ford first launch his mass production plant for the Model T?</th>
    </tr>
    <tr>
        <td>12-May</td>
    </tr>
    <tr></tr>
    <tr>
        <th>In which year did the Civic Hybrid debut?</th>
    </tr>
    <tr>
        <td>2003</td>
    </tr>
    <tr></tr>
    <tr>
        <th>In which town was the Austin-Healey Sprite produced?</th>
    </tr>
    <tr>
        <td>Gremlin</td>
    </tr>
    <tr></tr>
    <tr>
        <th>In which year did Ford establish Vauxhall Motors in the UK?</th>
    </tr>
    <tr>
        <td>1960</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>In which year was Skoda founded?</th>
    </tr>
    <tr>
        <td>1940</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>In which year was Citreon founded?</th>
    </tr>
    <tr>
        <td>1919</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>In which year was Volvo founded?</th>
    </tr>
    <tr>
        <td>1927</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>In which year was Honda founded?</th>
    </tr>
    <tr>
        <td>1948</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>In which year was Mercedes-Benz founded?</th>
    </tr>
    <tr>
        <td>2019</td>
    </tr><br/>
    <tr>
        <th>In which UK town is the Land Rover plant?</th>
    </tr>
    <tr>
        <td>Solihull</td>
    </tr><br/>
    <tr>
        <th>In which year was GM founded?</th>
    </tr>
    <tr>
        <td>1908</td>
    </tr><br/>
    <tr>
        <th>In which year was the Austin Maestro launched?</th>
    </tr>
    <tr>
        <td>1983</td>
    </tr><br/>
</table>