<style>
    td{
        text-align: center;
        cursor: pointer;
        filter: blur(5px);   
    }
    td:hover{
        filter: blur(0);
    }
    </style>
<table width="500px">
    <tr>
        <th>How long does it take for Venus to rotate once on its axis (in earth days)?</th>
    </tr>
    <tr>
        <td>224</td>
    </tr>
    <tr></tr>
    <tr>
        <th>Which of these moons of Jupiter is the largest?</th>
    </tr>
    <tr>
        <td>Ganymede</td>
    </tr>
    <tr></tr>
    <tr>
        <th>The largest moon in the Milky Way is called what?</th>
    </tr>
    <tr>
        <td>Ganymede</td>
    </tr>
    <tr></tr>
    <tr>
        <th>Which absorbs heat from the sun more quickly?</th>
    </tr>
    <tr>
        <td>Rocks and soil</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>What is the distance from the earth to the moon?</th>
    </tr>
    <tr>
        <td>250000 miles</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>What can a red giant star become?</th>
    </tr>
    <tr>
        <td>Supernova</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>How many astronauts live on board the station when it's fully staffed?</th>
    </tr>
    <tr>
        <td>6</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>What is the hottest planet in our solar system?</th>
    </tr>
    <tr>
        <td>Venus</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>What term is used to describe the study of the composition of stars?</th>
    </tr>
    <tr>
        <td>Astrophysics</td>
    </tr><br/>
    <tr>
        <th>What does N stand for in NASA?</th>
    </tr>
    <tr>
        <td>National</td>
    </tr><br/>
    <tr>
        <th>In terms of composition, what is the second most prominent element on Mercury?</th>
    </tr>
    <tr>
        <td>Sodium</td>
    </tr><br/>
    <tr>
        <th>A stars life cycle is mainly stable because the forces contained within it are…….?</th>
    </tr>
    <tr>
        <td>Balanced</td>
    </tr><br/>
</table>