<style>
    td{
        text-align: center;
        cursor: pointer;
        filter: blur(5px);   
    }
    td:hover{
        filter: blur(0);
    }
    </style>
<table width="500px">
    <tr>
        <th>Which player has played a record of 21 World Cup matches for Argentina?</th>
    </tr>
    <tr>
        <td>Diego Maradona</td>
    </tr>
    <tr></tr>
    <tr>
        <th>Which player has scored the first goal for Australia at the World Cups?</th>
    </tr>
    <tr>
        <td>Tim Cahill</td>
    </tr>
    <tr></tr>
    <tr>
        <th>Which player was the Argentinian top scorer at the 2018 World Cup?</th>
    </tr>
    <tr>
        <td>Sergio Agüero</td>
    </tr>
    <tr></tr>
    <tr>
        <th>Which player didn't score for Argentina in the 4-3 loss to France in the Round of 16 at the 2018 World Cup?</th>
    </tr>
    <tr>
        <td>Lionel Messi</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>Which player scored the winning goal for France against Portugal at the 2006 World Cup semi-final?</th>
    </tr>
    <tr>
        <td>Zinedine Zidane</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>Which player in 2002 scored the fastest goal in World Cup history just 10.8 seconds after kick-off?</th>
    </tr>
    <tr>
        <td>Hakan Sukur</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>Which Russian player scored twice in the opening match against Saudi Arabia at the 2018 World Cup?</th>
    </tr>
    <tr>
        <td>Denis Cheryshev</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>Which team was the first to win three World Cup trophies?</th>
    </tr>
    <tr>
        <td>Brazil</td>
    </tr><br/>
    <tr></tr>
    <tr>
        <th>Which player is Brazil's World Cup leading scorer?</th>
    </tr>
    <tr>
        <td>Ronaldo</td>
    </tr><br/>
    <tr>
        <th>Which player has the most appearances for Netherlands at the World Cups?</th>
    </tr>
    <tr>
        <td>Wesley Sneijder</td>
    </tr><br/>
    <tr>
        <th>Which player has the most appearances as captain at the World Cup?</th>
    </tr>
    <tr>
        <td>Rafael Márquez</td>
    </tr><br/>
    <tr>
        <th>Which player is the oldest one to appear on a World Cup game with 45 years and 161 days?</th>
    </tr>
    <tr>
        <td>Essam El Hadary</td>
    </tr><br/>
</table>